<!DOCTYPE html>
<html>
    <head>
        {%if title %}
            <title>{{ title }} - Page</title>
        {%else%}
            <title> The page</title>
        {%endif%}
    </head>
    <body>
        <div>
            <a href="{{ url_for('home') }}"> Home </a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}"> Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}"> Logout </a>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>